h1, h2, h3, h4, h5, h6 { font-family: 'Yanone Kaffeesatz', sans-serif; } 

body { 
    font-family: 'Open Sans', sans-serif;
}

/* ---------------header Styles---------- */

.header {
    height: 60px;
    color: #fff;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo .icon-menu { margin: 5px; }

.icon-menu {
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: steelblue;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------- menu styles -------- */
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
}

.menu__link {
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: steelblue;
    padding: 1em;
}

.menu__link:hover, .select {
    background-color: #fff;
    color: steelblue;
    font-size: 1.2rem;
}

.mostrar {
    left: 0 ;
} 

/* ------- Banner Styles -------------- */

.banner__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 25vh;
    /* opacity: 0.8; */
}

.b__container {
    color: #fff;
    margin-top: 30px;
    width: 100%;
    margin-bottom: 70px;
    padding: 10px;

}

.banner__txt { display: none; }

/* ---------info styles ------------------ */

.info__column {
    background-color: steelblue;
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
    
}

.info__img { margin-bottom: 12px;}

/* --------- cursos styles ------------------ */
.section__title { 
    text-align: center;
    color: steelblue;
    line-height: 1.5em;
}

.cursos__title { 
    font-size: 1.5rem;
    line-height: 1.5em;
    text-align: center;
    border-bottom: 1px solid #fff;

}
.cursos__column {
    position: relative;
    margin-bottom: 12px;
}
.cursos__description {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    width: 60%;   
    height: 100%;
    padding: 10px;
}

.footer {
    width: 100%;
    background-color: steelblue;
    color: #fff;
    padding: 30px 7px;
    align-items: center;
}

.copy,
.footer__social {
    text-align: center;
    color: #fff;
}

.footer__social {
    font-size: 1.7em;
    margin-bottom: 10px;
    cursor: pointer;    
}
