h1, h2, h3, h4, h5, h6 { font-family: 'Yanone Kaffeesatz', sans-serif; } 

body { 
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: auto;
    width: 99%;
}

/* ---------------header Styles---------- */

.header {
    height: 60px;
    color: #fff;
    margin-bottom: 80px;
}

.header .h_container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icon-menu {
    padding: 0;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: steelblue;
    color: white;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------- menu styles -------- */
.nav {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    transition: all 0.5s;
}

.menu__link {
    text-decoration: none;
    display: block;
    text-align: center;
    background-color: steelblue;
    padding: 1em;
}

.menu__link:hover, .select {
    background-color: #fff;
    color: steelblue;
    font-size: 1.2rem;
}

.mostrar { left: 0;} 

/* ------- Banner Styles -------------- */

.banner__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 25vh;
    /* opacity: 0.8; */
}

.container {
    padding: 5px 10px;
    color: #fff;
}

.banner__txt { display: none; }

/* ---------info styles ------------------ */

.info__column {
    background-color: steelblue;
    padding: 12px;
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

.info__img { margin-bottom: 12px;}

/* --------- cursos styles ------------------ */
.cursos {
    width: 95%;
    margin: auto;
}
.section__title { 
    text-align: center;
    color: steelblue;
    line-height: 1.8em;
}

.cursos__title { 
    font-size: 1.5rem;
    line-height: 1.1em;
    text-align: center;
    border-bottom: 1px solid #fff;

}
.cursos__column {
    position: relative;
    margin-bottom: 12px;
}
.cursos__description {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
    width: 60%;   
    height: 100%;
    padding: 10px;
}

.footer {
    width: 100%;
    background-color: steelblue;
    color: #fff;
    padding: 30px 7px;
    align-items: center;
}

.copy,
.footer__social {
    text-align: center;
    color: #fff;
}

.footer__social {
    font-size: 1.7em;
    margin-bottom: 10px;
    cursor: pointer;    
}

/* -------------styles responsive -------------- */

@media screen and (min-width: 480px) {
    .logo { font-size: 40px; }
    .banner__img {height: 35%;} 
    .banner__title { 
        font-size: 30px;
        margin: 5px 0;
    }
    .banner__txt { 
        display: block;
        font-size: 18px;
        margin: 17px 0;
    }
    .info, .cursos {
        display: flex;
        justify-content: space-between;
    }
    .info__column { width: 32%; }
    .info__title {
        font-size: 30px;
        margin: 5px 0;
    }
    .section__title { 
        width: 100%;
        font-size: 2rem;
    }
    .cursos { 
        flex-wrap: wrap;
        margin-top: 0;    
    }
    .cursos__title {line-height: 1.5em}
    .cursos__column {
        width: 49%;
       
    }
    .cursos__txt {
        font-size: 15px;
    }
    .footer {
        font-size: 1.2em;
        padding: 5px;
    }
}
@media screen and (min-width: 768px) {
    .banner__title { font-size: 50px; }
    .cursos__title { font-size: 40px; }
}
@media screen and (min-width: 1024px) {
    .container {
         width: 80%;
    }
    .nav {
        position: static;
        width: auto;
    }
    .menu {
        display: flex;
    }
    .icon-menu{ display: none; }
    .menu__link { 
        background: none;
        font-size: 20px;
    }
    .select {
        color: #fff;
        background-color: steelblue;
    }
    .banner__title { font-size: 60px; }
    .cursos__title { font-size: 50px; }

}